* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedorp {
    background: #34495e;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formlogin {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
    box-shadow: 10px 10px 10px #3498bd;
}

.formlogin h2 {
    text-shadow: 1px 1px 1px #3498bd;
}

.formlogin input[type="text"], .formlogin input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498bd;
    padding: 14px 10px;
    width: 200px;
    color: white;
    transition: .25s;
}

.formlogin input[type="text"]:focus, .formlogin input[type="password"]:focus {
    /* width: 280px; */
    border-color: #2ecc71;
}

.formlogin input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    color: white;
    transition: .25s;
    cursor: pointer;
}

.formlogin input[type="submit"]:hover {
    background: #2ecc71;
}